<section class="header">
  <article class="header__brand" routerLink="/">
    <i class="bx bx-shinto header__logo"></i>

    <input type="text" class="header__search-bar" placeholder="Search products..." />
  </article>

  <article class="header__nav">
    <nav>
      <ul class="header__list">
        <li class="header__item">
          <i class="bx bx-box"></i>
          <span>Orders</span>
        </li>

        <li class="header__item">
          <i class="bx bx-heart"></i>
          <span>Favorite</span>
        </li>

        <li class="header__item" routerLink="/cart">
          <i class="bx bx-cart"></i
          ><span *ngIf="cart$ | async as cart" click> {{ cart.length }} </span>
          <span>Cart</span>
        </li>
      </ul>
    </nav>
  </article>
</section>
