<section class="header">
  <article class="header__brand" routerLink="/">
    <i class="bx bx-shinto header__logo"></i>

    <input type="text" class="header__search-bar" placeholder="Search products..." />
  </article>

  <article class="header__nav">
    <nav>
      <ul class="header__list">
        <li class="header__item">
          <i class="bx bx-box"></i>
          <span>Orders</span>
        </li>

        <li class="header__item">
          <i class="bx bx-heart"></i>
          <span>Favorite</span>
        </li>

        <!-- 🛒 CARRITO -->
        <li class="header__item" (click)="openCart.emit()">
          <i class="bx bx-cart"></i>
          <span>Cart</span>

          <span class="cart-badge" *ngIf="cartCount() > 0">
            {{ cartCount() }}
          </span>
        </li>
      </ul>
    </nav>
  </article>
</section>
